<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kontrol | My Smarthome</title>

    {% include('includes/head.html') %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include('includes/sidebar.html') %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include('includes/topbar.html') %}
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Kontrol</h1>
                    <div class="row">
                        <dir class="col-12">
                            <div class="card shadow">
                                <div class="card-body table-responsive">
                                    <button class="btn btn-primary" id="btnTambah">
                                        <i class="fa fa-plus"></i> Tambah Control
                                    </button>
                                    <hr>
                                    <table id="tableControl" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nama Control</th>
                                                <th>Jenis</th>
                                                <th>Status</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dir>
                    </div>
                </div>
            </div>
            {% include('includes/footer.html') %}
        </div>
    </div>
    {% include('includes/scrollup.html') %}
    {% include('includes/script.html') %}

    <div class="modal fade" id="modalControl" tabindex="-1" role="dialog" aria-labelledby="modalSesorLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formControl" action="#" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSesorLabel">Tambah Control</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group row">
                                <label for="nama" class="col-4">Id Control</label>
                                <div class="col-8">
                                    <input type="text" name="id" id="id" class="form-control" placeholder="Id Control" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nama" class="col-4">Nama Control</label>
                                <div class="col-8">
                                    <input type="text" name="nama" id="nama" class="form-control" placeholder="Nama Control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rumah" class="col-4">Rumah</label>
                                <div class="col-8">
                                    <select name="rumah" id="rumah" class="form-control" required>
                                        <option value="rumahku">Rumah Ku</option>
                                        <option value="rumahTetangga">Rumah Tetangga</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="model" class="col-4">Model</label>
                                <div class="col-8">
                                    <select name="rumah" id="model" class="form-control" required>
                                        <option value="kipas">Kipas</option>
                                        <option value="lampu">Lampu</option>
                                        <option value="pompa">Pompa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="value" class="col-4">Nilai Awal</label>
                                <div class="col-8">
                                    <input type="text" name="value" id="value" class="form-control" placeholder="Nilai Awal" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Hapus Control <b id="modalDeleteLabel"></b> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">
                        <i class="fa fa-trash"></i> Hapus
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalHistory" tabindex="-1" role="dialog" aria-labelledby="modalHistoryLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalHistoryLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formFilterTanggal" action="#" method="post">
                        <div class="form-group row">
                            <label for="tanggal" class="col-4 col-md-2">Tanggal</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="tanggal" name="tanggal" placeholder="Tanggal">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-outline-primary">
                                    <i class="fa fa-filter"></i> Terapkan
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped w-100" id="tableHistory">
                            <thead>
                                <tr>
                                    <th>Waktu</th>
                                    <th>Value</th>
                                    <th>Jenis</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                </div>
            </div>
        </div>
    </div>

    <script defer>
        var baseApiURL = 'http://api.myiot.com';

        $("#tanggal").datepicker({
            format: "yyyy-mm-dd",
            language: "id",
            todayBtn: "linked",
            todayHighlight: true
        });

        async function initDatatable() {
            var respond = await $.ajax({
                url: `${baseApiURL}/control/getAll`
            });
            $("#tableControl").dataTable({
                data: respond,
                destroy: true,
                columns: [
                    { data: "nama" },
                    { data: "jenis.model" },
                    {
                        data: "value",
                        render: function (data, type, row) {
                            if (data == 1)
                                return `<button class="btn badge badge-pill badge-success toggleControl" data-id="${row.id}">Nyala</button>`;
                            else
                                return `<button class="btn badge badge-pill badge-danger toggleControl" data-id="${row.id}">Mati</button>`;
                        },
                    },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return `<button class="btn btn-sm btn-primary btnEdit" data-id="${data}" data-nama="${row.nama}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-info btnHistory" data-id="${data}" data-nama="${row.nama}">
                                    <i class="fa fa-history"></i>
                                </button>
                                <button class="btn btn-sm btn-danger btnDelete" data-id="${data}" data-nama="${row.nama}">
                                    <i class="fa fa-trash"></i>
                                </button>`;
                        },
                    },
                ],
                drawCallback: () => {
                    $(".toggleControl").click(async function () {
                        var idDevice = $(this).data('id');
                        var respond = await $.ajax({
                            url: `${baseApiURL}/control/toggle`,
                            data: { id: idDevice }
                        });
                        if (respond.value) {
                            console.log('trigered')
                            $(this).removeClass('badge-danger');
                            $(this).addClass('badge-success');
                            $(this).text('Nyala')
                        } else {
                            $(this).removeClass('badge-success');
                            $(this).addClass('badge-danger');
                            $(this).text('Mati')
                        }
                    });

                    $(".btnEdit").click(async function () {
                        var idDevice = $(this).data('id');
                        var respond = await $.ajax({
                            url: `${baseApiURL}/control/getById`,
                            data: { id: idDevice }
                        });
                        $("#formControl").trigger('reset');
                        $("#formControl").attr('action', `${baseApiURL}/control/updateById`);
                        $("#modalControlLabel").text(`Edit Control ${respond.nama}`);
                        $("#modalControl").modal('show');
                        $("#id").val(idDevice);
                        $("#id").attr('disabled', 'disabled');
                        $("#id").addClass('disabled');
                        $("#nama").val(respond.nama);
                        $("#rumah").val(respond.rumah);
                        $("#model").val(respond.jenis.model);
                        $("#value").val(respond.value);
                    });

                    $(".btnDelete").click(async function () {
                        var idDevice = $(this).data('id');
                        var nama = $(this).data('nama');
                        $("#modalDeleteLabel").text(`${nama} (${idDevice})`);
                        $("#btnConfirmDelete").attr('data-id', idDevice);
                        $("#modalDelete").modal('show');
                    });

                    $(".btnHistory").click(async function () {

                        var idDevice = $(this).data('id');
                        var respond = await $.ajax({
                            url: `${baseApiURL}/control/getHistoryByIdDate`,
                            data: {
                                'id': idDevice
                            }
                        });
                        $("#modalHistory").modal('show');
                        $("#tableHistory").dataTable({
                            destroy: true,
                            data: respond,
                            columns: [
                                { data: "ts" },
                                { data: "value" },
                                { data: "trigger" }
                            ]
                        })
                    });
                }
            });
        }

        initDatatable();

        $("#btnTambah").click(() => {
            $("#formControl").trigger('reset');
            $("#formControl").attr('action', `${baseApiURL}/control/insertDevice`);
            $("#modalControlLabel").text('Tambah Control');
            $("#id").removeAttr('disabled');
            $("#id").removeClass('disabled');
            $("#modalControl").modal('show');
        });

        $("#btnConfirmDelete").click(function () {
            var idDevice = $(this).data('id');
            $.ajax({ url: `${baseApiURL}/sensor/deleteById?id=${idDevice}` });
            $("#modalDelete").modal('hide');
            initDatatable();
        });

        $("#formControl").submit(function (ev) {
            $.ajax({
                type: 'post',
                url: $("#formControl").attr('action'),
                data: {
                    'id': $("#id").val(),
                    'nama': $("#nama").val(),
                    'rumah': $("#rumah").val(),
                    'model': $("#model").val(),
                    'value': $("#value").val(),
                },
                success: function () {
                    initDatatable();
                    $("#modalControl").modal('hide');
                }
            })
            ev.preventDefault();
        });
    
        $("#formFilterTanggal").submit(async function (e) {
            e.preventDefault();
            var idAlat = $(this).data('id');
            var nama = $(this).data('nama');
            var respond = await $.ajax({
                url: `${baseApiURL}/control/getHistoryByIdDate`,
                data: {
                    id: idAlat,
                    date: $("#tanggal").val()
                }
            });
            $("#tableHistory").dataTable({
                destroy: true,
                data: respond,
                columns: [
                    { data: "ts" },
                    { data: "value" },
                    { data: "trigger" }
                ]
            })
        })
    </script>

</body>

</html>