<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kontrol | My Smarthome</title>

    {% include('includes/head.html') %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include('includes/sidebar.html') %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include('includes/topbar.html') %}
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Kontrol</h1>
                    <div class="row">
                        <dir class="col-12">
                            <div class="card shadow">
                                <div class="card-body table-responsive">
                                    <button class="btn btn-primary" id="btnTambah">
                                        <i class="fa fa-plus"></i> Tambah Control
                                    </button>
                                    <hr>
                                    <table id="tableSensor" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nama Sensor</th>
                                                <th>Jenis</th>
                                                <th>Update Terakhir</th>
                                                <th>Status</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lampu Ruang Tengah</td>
                                                <td>Lampu</td>
                                                <td>On</td>
                                                <td>2022-02-02 20:20:20</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-chart-line"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dir>
                    </div>
                </div>
            </div>
            {% include('includes/footer.html') %}
        </div>
    </div>
    {% include('includes/scrollup.html') %}
    {% include('includes/script.html') %}

    <div class="modal fade" id="modalControl" tabindex="-1" role="dialog" aria-labelledby="modalSesorLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalSesorLabel">Tambah Control</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group row">
                                <label for="nama" class="col-4">Nama Control</label>
                                <div class="col-8">
                                    <input type="text" name="nama" id="nama" class="form-control" placeholder="Nama Control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="model" class="col-4">Tipe</label>
                                <div class="col-8">
                                    <select name="model" id="model" class="form-control">
                                        <option value="saklar">Saklar</option>
                                        <option value="skala">Skala</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="value" class="col-4">Nilai Awal</label>
                                <div class="col-8">
                                    <input type="text" name="value" id="value" class="form-control" placeholder="Nilai Awal">
                                </div>
                                <div class="col-12">
                                    <small class="text-danger">* Gunakan 0 atau 1 untuk nilai awal jika menggunakan model saklar</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script defer>
        var baseApiURL = 'https://api.myiot.com';

        $("#tableSensor").dataTable();

        $("#btnTambah").click(() => {
            $("#modalControl").modal('show');
        })
    </script>

</body>

</html>