<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    {% include('includes/head.html') %}
</head>

<body id="page-top" class="bg-dark">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-6 col-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <form action="dashboard" method="post">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Salamat Datang di My Smarthome!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="username" class="form-control form-control-user" id="username" aria-describedby="emailHelp" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>


    {% include('includes/script.html') %}

</body>

</html>