<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scheduler | My Smarthome</title>
    
    {% include('includes/head.html') %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include('includes/sidebar.html')%}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include('includes/topbar.html') %}
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Sensor</h1>
                    <div class="row">
                        <dir class="col-12">
                            <div class="card shadow">
                                <div class="card-body ">
                                    <table id="tableSensor" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nama Jadwal</th>
                                                <th>Jenis Jadwal</th>
                                                <th>Mulai</th>
                                                <th>Selesai</th>
                                                <th>Durasi</th>
                                                <th>Nama Kontrol</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lampu Menyala Malam</td>
                                                <td>Harian</td>
                                                <td>17:30</td>
                                                <td>06:00</td>
                                                <td>12 Jam 30 Menit</td>
                                                <td>Lampu A</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-chart-line"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pompa PAMS</td>
                                                <td>Mingguan</td>
                                                <td>Senin, 15.00 - 15.15</td>
                                                <td>Jumat, 15.00 - 15.15</td>
                                                <td>15 Menit</td>
                                                <td>Pompa Air PDAM</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-chart-line"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dir>
                    </div>
                </div>
            </div>
            {% include('includes/footer.html') %}
        </div>
    </div>
    {% include('includes/scrollup.html') %}
    {% include('includes/script.html') %}


    <script defer>
        var baseApiURL = 'https://api.myiot.com';

        $("#tableSensor").dataTable();


    </script>

</body>

</html>