<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scheduler | My Smarthome</title>

    {% include('includes/head.html') %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include('includes/sidebar.html')%}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include('includes/topbar.html') %}
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Jadwal</h1>
                    <div class="row">
                        <dir class="col-12">
                            <div class="card shadow">
                                <div class="card-body table-responsive">
                                    <button class="btn btn-primary" id="btnTambah">
                                        <i class="fa fa-plus"></i> Tambah Jadwal
                                    </button>
                                    <hr>
                                    <table id="tableJadwal" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nama Jadwal</th>
                                                <th>Jenis Jadwal</th>
                                                <th>Mulai</th>
                                                <th>Nama Kontrol</th>
                                                <th>Set Status</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Lampu Menyala Malam</td>
                                                <td>Harian</td>
                                                <td>17:30</td>
                                                <td>Lampu A</td>
                                                <td>1</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-clock"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Lampu Mati Pagi</td>
                                                <td>Harian</td>
                                                <td>06:00</td>
                                                <td>Lampu A</td>
                                                <td>0</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-clock"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pompa Air</td>
                                                <td>Mingguan</td>
                                                <td>
                                                    Hari Senin <br>
                                                    Jam 06.00
                                                </td>
                                                <td>Pompa Air PDAM</td>
                                                <td>1</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-clock"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Pompa Air</td>
                                                <td>Mingguan</td>
                                                <td>
                                                    Hari Senin <br>
                                                    Jam 06.30
                                                </td>
                                                <td>Pompa Air PDAM</td>
                                                <td>0</td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-info">
                                                        <i class="fa fa-clock"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-danger">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dir>
                    </div>
                </div>
            </div>
            {% include('includes/footer.html') %}
        </div>
    </div>
    {% include('includes/scrollup.html') %}
    {% include('includes/script.html') %}

    <div class="modal fade" id="modalJadwal" tabindex="-1" role="dialog" aria-labelledby="modalJadwalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalJadwalLabel">Tambah Jadwal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group row">
                                <label for="nama" class="col-4">Nama Jadwal</label>
                                <div class="col-8">
                                    <input type="text" name="nama" id="nama" class="form-control" placeholder="Nama Jadwal">
                                </div>
                            </div>
                            <hr>
                            <h5>Jadwal</h5>
                            <div class="form-group row">
                                <label for="model" class="col-4">Jenis Jadwal</label>
                                <div class="col-8">
                                    <select name="model" id="model" class="form-control">
                                        <option value="saklar">Harian</option>
                                        <option value="skala">Mingguan</option>
                                        <option value="skala">Bulanan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="jamHarian" class="col-4">Jam Jadwal</label>
                                <div class="col-8">
                                    <input type="text" id="jamHarian" class="form-control" placeholder="Contoh: 16:00">
                                </div>
                            </div>
                            <hr>
                            <h5>Control</h5>
                            <div class="form-group row">
                                <label for="model" class="col-4">Control</label>
                                <div class="col-8">
                                    <select name="model" id="model" class="form-control">
                                        <option value="lampu1">Lampu Ruang Tengah</option>
                                        <option value="kipas1">Kipas Tamu</option>
                                        <option value="pompa1">Pompa PDAM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="value" class="col-4">Nilai</label>
                                <div class="col-8">
                                    <input type="text" name="value" id="value" class="form-control" placeholder="Nilai Awal">
                                </div>
                            </div>
                            <div class="col-12">
                                <small class="text-danger">* Gunakan 0 atau 1 untuk nilai jika menggunakan model saklar</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script defer>
        var baseApiURL = 'https://api.myiot.com';

        $("#tableJadwal").dataTable();

        $("#btnTambah").click(() => {
            $("#modalJadwal").modal('show');
        })
    </script>

</body>

</html>