<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trigger | My Smarthome</title>

    {% include('includes/head.html') %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include('includes/sidebar.html')%}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include('includes/topbar.html') %}
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Trigger</h1>
                    <div class="row">
                        <dir class="col-12">
                            <div class="card shadow">
                                <div class="card-body table-responsive">
                                    <button class="btn btn-primary" id="btnTambah">
                                        <i class="fa fa-plus"></i> Tambah Trigger
                                    </button>
                                    <hr>
                                    <table id="tableTrigger" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nama Trigger</th>
                                                <th>Sensor</th>
                                                <th>Jenis Trigger</th>
                                                <th>Nilai</th>
                                                <th>Nama Control</th>
                                                <th>Set Status</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </dir>
                    </div>
                </div>
            </div>
            {% include('includes/footer.html') %}
        </div>
    </div>

    <div class="modal fade" id="modalTrigger" tabindex="-1" role="dialog" aria-labelledby="modalTriggerLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="#" method="post" id="formTrigger">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTriggerLabel">Tambah Trigger</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group row">
                                <label for="nama" class="col-4">Id Sensor</label>
                                <div class="col-8">
                                    <input type="text" name="id" id="id" class="form-control" placeholder="Id Sensor" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nama" class="col-4">Nama Trigger</label>
                                <div class="col-8">
                                    <input type="text" name="nama" id="nama" class="form-control" placeholder="Nama Trigger">
                                </div>
                            </div>
                            <hr>
                            <h5>Sensor</h5>
                            <div class="form-group row">
                                <label for="nama" class="col-4">Sensor</label>
                                <div class="col-8">
                                    <select name="sensor" id="sensor" class="form-control">

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nama" class="col-4">Jenis Trigger</label>
                                <div class="col-8">
                                    <select name="jenis" id="jenis" class="form-control">
                                        <option value="more than">Lebih dari</option>
                                        <option value="less than">Kurang dari</option>
                                        <option value="equal">Sama dengan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sensorValue" class="col-4">Nilai Sensor</label>
                                <div class="col-8">
                                    <input type="text" name="sensorValue" id="sensorValue" class="form-control" placeholder="Nilai Sensor">
                                </div>
                            </div>
                            <hr>
                            <h5>Control</h5>
                            <div class="form-group row">
                                <label for="control" class="col-4">Control</label>
                                <div class="col-8">
                                    <select name="control" id="control" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="controlValue" class="col-4">Set Nilai</label>
                                <div class="col-8">
                                    <input type="text" name="controlValue" id="controlValue" class="form-control" placeholder="Set Nilai">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i> Simpan
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Hapus Trigger Trigger <b id="modalDeleteLabel"></b> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">
                        <i class="fa fa-trash"></i> Hapus
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include('includes/scrollup.html') %}
    {% include('includes/script.html') %}
    <script defer>
        var baseApiURL = 'http://api.myiot.com';

        async function initDatatable() {
            var respond = await $.ajax({ url: `${baseApiURL}/trigger/getAll` });
            var sensor = await $.ajax({ url: `${baseApiURL}/sensor/getAll` });
            var control = await $.ajax({ url: `${baseApiURL}/control/getAll` });
            $("#control").html('')
            control.forEach(e => {
                $("#control").append(`<option value="${e.id}">${e.nama}</option>`)
            });

            $("#sensor").html('')
            sensor.forEach(e => {
                $("#sensor").append(`<option value="${e.id}">${e.nama}</option>`)
            });

            $("#tableTrigger").dataTable({
                data: respond,
                destroy: true,
                columns: [
                    { data: "nama" },
                    { data: "sensor.nama" },
                    { data: "jenis" },
                    { data: "sensorValue" },
                    { data: "control.nama" },
                    { data: "controlValue" },
                    {
                        data: "id",
                        render: function (data, type, row) {
                            return `<button class="btn btn-sm btn-primary btnEdit" data-id="${data}" data-nama="${row.nama}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger btnDelete" data-id="${data}" data-nama="${row.nama}">
                                    <i class="fa fa-trash"></i>
                                </button>`;
                        },
                    },
                ],
                drawCallback: function () {
                    $(".btnEdit").click(async function () {
                        var idJadwal = $(this).data('id');
                        var respond = await $.ajax({
                            url: `${baseApiURL}/trigger/getById`,
                            data: { id: idJadwal }
                        });
                        $("#formTrigger").trigger('reset');
                        $("#formTrigger").attr('action', `${baseApiURL}/trigger/updateById`);
                        $("#modalTriggerLabel").text(`Edit Sensor ${respond.nama}`);
                        $("#modalTrigger").modal('show');
                        $("#id").val(idJadwal);
                        $("#id").attr('disabled', 'disabled');
                        $("#id").addClass('disabled');
                        $("#nama").val(respond.nama);
                        $("#rumah").val(respond.rumah);
                        $("#control").val(respond.control);
                        $("#controlValue").val(respond.controlValue);
                        $("#sensor").val(respond.sensor);
                        $("#sensorValue").val(respond.sensorValue);
                        $("#jenis").val(respond.jenis);
                    });

                    $(".btnDelete").click(async function () {
                        var idJadwal = $(this).data('id');
                        var nama = $(this).data('nama');
                        $("#modalDeleteLabel").text(`${nama} (${idJadwal})`);
                        $("#btnConfirmDelete").attr('data-id', idJadwal);
                        $("#modalDelete").modal('show');
                    });
                }

            });
        }

        initDatatable()

        $("#btnTambah").click(() => {
            $("#formTrigger").trigger('reset');
            $("#formTrigger").attr('action', `${baseApiURL}/trigger/insert`);
            $("#modalJadwalLabel").text('Tambah Trigger');
            $("#id").removeAttr('disabled');
            $("#id").removeClass('disabled');
            $("#modalTrigger").modal('show');
        });

        $("#formTrigger").submit(function (ev) {
            $.ajax({
                type: 'post',
                url: $("#formTrigger").attr('action'),
                data: {
                    'id': $("#id").val(),
                    'nama': $("#nama").val(),
                    'rumah': $("#rumah").val(),
                    'jenis': $("#jenis").val(),
                    'sensor': $("#sensor").val(),
                    'sensorValue': $("#sensorValue").val(),
                    'control': $("#control").val(),
                    'controlValue': $("#controlValue").val(),
                },
                success: function () {
                    initDatatable();
                    $("#modalTrigger").modal('hide');
                }
            })
            ev.preventDefault();
        });

        $("#btnConfirmDelete").click(function () {
            var idJadwal = $(this).data('id');
            $.ajax({ url: `${baseApiURL}/trigger/deleteById?id=${idJadwal}` });
            $("#modalDelete").modal('hide');
            initDatatable();
        });
    </script>

</body>

</html>