<script src="{{ url_for('static', filename='') }}vendor/jquery/jquery.min.js"></script>
<script src="{{ url_for('static', filename='') }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='') }}vendor/jquery-easing/jquery.easing.min.js"></script>
{# Datatable #}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
<!-- Moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='') }}js/sb-admin-2.min.js"></script>
